.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr); 
  gap: 30px;
  margin-right: 70px;
  padding: 20px;
}

.card {
  background-color: #fff;
  position: relative;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  height: 150px;
  width: 150px;
}
.card a{
  text-decoration: none;
  color: black;
  position: relative; 
  z-index: 1;
}
.card h6{
  font-size: 1.3em;
}
.card img{
  position: absolute; 
  top: 0;
  left: 0;
  height: 150px;
  width: 150px;
  z-index: 0;
}
