.project{
    background-color: #f3eded;
    box-shadow: 0 4px 22px rgba(0, 0, 2, 1);
    margin: 20px 400px;
    text-align: center;
    padding: 20px 100px;
    width: 530px;
    border-radius: 8px;
}
.project h2{
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: rgb(31, 93, 185);
    padding: 20px 0px;
}

.submit-button{
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -50px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
}
  
  .submit-button:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .submit-button:hover {
    box-shadow: rgba(55, 32, 104, 0.4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
    opacity: 0.7;
  }
  
  .submit-button:active {
    box-shadow: #252e72 0 3px 7px inset;
    transform: translateY(2px);
  }
.divider{
    padding: 50px 0px;
    margin-left: 600px;
}
