.logonPage{
  padding: 30px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option{
  display: flex;
  justify-content: space-around;
  background-color: rgb(215, 215, 215);
  height: 50px;
  border-radius: 1rem 1rem 0rem 0rem;
  width: 400px;
  cursor: pointer;

}

.option h1{
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  width: 200px;
}

.selected {
  background-color: #0077ff;
  cursor: pointer; 
  border-radius: 1rem 1rem 1rem 1rem;
  width: 100%;
  color: white;
}


.Form{
  padding: 30px;
  color: white;
  height: 400px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  border-radius: 1rem;
}

.Form p{
  text-align: center;
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
}


.inputField{
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  
  flex-direction: column;
  align-items: center;
  color: white;
}


/* Define styles for the selected option */


.inputField input{
  background-color: rgb(228, 228, 228);
  width: 90%;
  height: 45px;
  padding-left: 8px;
  font-size: 1.2rem;
  border: none;
}

.inputField button{
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
  width: 130px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}